@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: var(--color-juvu-white);
  --foreground: var(--color-juvu-blue);
}

@theme {
  --color-juvu-blue: #091f43;
  --color-juvu-lightblue: #c4cfe1;
  --color-juvu-white: #fcf7f1;
  --color-juvu-gold: #d4ae63;
  --color-juvu-red: #ff675e;
  --color-juvu-blue-dark: #000010;
  --color-juvu-lightblue-dark: #919cae;
  --color-juvu-white-dark: #c9c4be;
  --color-juvu-gold-dark: #a17b30;
  --color-juvu-red-dark: #cc342b;
  --color-juvu-blue-light: #3c5276;
  --color-juvu-lightblue-light: #f7ffff;
  --color-juvu-white-light: #ffffff;
  --color-juvu-gold-light: #ffe196;
  --color-juvu-red-light: #ff9a91;
  --color-accent-dark: var(--color-juvu-blue);
  --color-accent-light: var(--color-juvu-lightblue);
  --color-row-odd: #e6ebf5;
  --color-row-even: #f3f6fa;
  --color-header: var(--color-juvu-blue);
  --font-pixel: var(--font-pixel);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-roboto-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;

  /* box */
  padding-inline: calc(var(--spacing) * 1);
  padding-block: calc(var(--spacing) * 1);
  margin-block: calc(var(--spacing) * 0.5);
  margin-inline-end: calc(var(--spacing) * 2);
  border: 2px solid var(--color-juvu-blue);
  background-color: var(--color-juvu-white);
  --shadow: var(--shadow-md);
  display: inline-grid;
  place-content: center;
  cursor: pointer;

  transition:
    background-color 0.15s ease,
    border-color 0.15s ease,
    box-shadow 0.15s ease;
}
input[type="checkbox"]::before {
  content: "";
  inline-size: 0.7rem;
  block-size: 0.7rem;
  transform: scale(0);
  transition: transform 0.12s ease-in-out;
  background: var(--color-juvu-white);
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0, 43% 62%);
}

input[type="checkbox"]:checked {
  background-color: var(--color-juvu-gold);
  border-color: var(--color-juvu-blue);
}
input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:focus-visible {
  outline: 2px solid var(--color-juvu-gold);
  outline-offset: 2px;
}

/* disabled look */
input[type="checkbox"]:disabled {
  opacity: 0.55;
  cursor: not-allowed;
}

input[type="checkbox"]:indeterminate {
  background-color: var(--color-juvu-white);
  border-color: var(--color-juvu-blue);
}
input[type="checkbox"]:indeterminate::before {
  transform: scale(1);
  clip-path: inset(45% 10% 45% 10%); /* a small bar */
}

input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;

  /* box */
  padding-inline: calc(var(--spacing) * 1);
  padding-block: calc(var(--spacing) * 1);
  margin-block: calc(var(--spacing) * 0.5);
  margin-inline-end: calc(var(--spacing) * 2);
  border: 2px solid var(--color-juvu-blue);
  border-radius: 100%;
  background-color: var(--color-juvu-white);
  --shadow: var(--shadow-md);
  display: inline-grid;
  place-content: center;
  cursor: pointer;

  transition:
    background-color 0.15s ease,
    border-color 0.15s ease,
    box-shadow 0.15s ease;
}
input[type="radio"]::before {
  content: "";
  inline-size: 0.7rem;
  block-size: 0.7rem;
  transform: scale(0);
  transition: transform 0.12s ease-in-out;
  background: var(--color-juvu-blue);
  border-radius: 50%;
}

input[type="radio"]:checked {
  background-color: var(--color-juvu-gold);
  border-color: var(--color-juvu-blue);
}
input[type="radio"]:checked::before {
  transform: scale(1);
}

input[type="radio"]:focus-visible {
  outline: 2px solid var(--color-juvu-gold);
  outline-offset: 2px;
}

/* disabled look */
input[type="radio"]:disabled {
  opacity: 0.55;
  cursor: not-allowed;
}

input[type="radio"]:indeterminate {
  background-color: var(--color-juvu-white);
  border-color: var(--color-juvu-blue);
}
input[type="radio"]:indeterminate::before {
  transform: scale(1);
  clip-path: inset(45% 10% 45% 10%); /* a small bar */
}
