@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: var(--color-juvu-white);
  --foreground: var(--color-juvu-blue);
}

@theme {
  --color-juvu-blue: #091f43;
  --color-juvu-blue-light: #c4cfe1;
  --color-juvu-white: #fcf7f1;
  --color-juvu-gold: #d4ae63;
  --color-juvu-red: #ff675e;
  --color-accent-dark: var(--color-juvu-blue);
  --color-accent-light: var(--color-juvu-blue-light);
  --color-row-odd: #e6ebf5;
  --color-row-even: #f3f6fa;
  --color-header: var(--color-juvu-blue);
  --font-pixel: var(--font-pixel);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-roboto-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
